#############################   Logger Configuration   ##########################
logging.level.org.springframework                               = INFO

#############################  Hibernate Configuration  #########################
spring.jpa.hibernate.ddl-auto                                   = update
spring.jpa.show-sql                                             = true
spring.jpa.properties.hibernate.format_sql                      = true

############################   DataSource Configuration   #######################
spring.datasource.url                                           =
jdbc:[sql-driver]://[host]:[port]/[database_name]?allowPublicKeyRetrieval=true&useSSL=false
spring.datasource.username                                      = [username]
spring.datasource.password                                      = [password]

spring.datasource.initialization-mode                           = always

#############################  OAuth2 Authentication  ###########################
spring.security.oauth2.client.registration.github.client-id     = [github-client_id]
spring.security.oauth2.client.registration.github.client-secret = [github-client-secret]